spring:
  application:
    name: chatbot-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/subway_chatbot
      auto-index-creation: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: Asia/Seoul

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

server:
  port: 8085

# Ollama
ollama:
  enabled: false
  base-url: http://localhost:11434
  model: llama3.2:3b


services:
  analytics:
    url: localhost:8083
  prediction:
    url: localhost:8084

logging:
  level:
    com.subway.chatbotservice: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}