server:
  port: 8082

spring:
  application:
    name: data-processor-service

  # Kafka Consumer
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: data-processor-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
    streams:
      application-id: subway-streams-processor
      bootstrap-servers: localhost:9092


  # PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/subway_analytics
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Eureka 활성화
eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

# Spark
spark:
  app-name: subway-data-processor
  master: local[*]

logging:
  level:
    com.subway.dataprocessorservice: DEBUG
    org.apache.spark: WARN
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}