# k8s/services/user-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: subway-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: subway/user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8088
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgresql:5432/subway_analytics
            - name: SPRING_DATA_REDIS_HOST
              value: redis
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-server:8761/eureka/
            - name: JWT_SECRET
              value: mySecretKeyForSubwayCongestionSystemVeryLongSecretKey123456789
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: subway-system
spec:
  selector:
    app: user-service
  ports:
    - port: 8088
      targetPort: 8088
  type: ClusterIP